# Игнорировать старую/лишнюю папку
Новая папка/

# Системные папки и кэш Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Чекпоинты и веса моделей (слишком тяжелые для Git)
checkpoints/
*.pt
*.pth

# Системные файлы ОС
Thumbs.db
desktop.ini
путь.txt